* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

a {
    text-decoration: none;
}

.hero,
.header,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.footer {
    padding: 12px;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

a,
.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
}

.main {
    font-size: 48px;
    font-weight: 900;
    margin: 8px;
}

.hero {
    display: flex;
    padding: 8px;
}

.hero .left {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.right {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.right img {
    height: 250px;
    width: auto;
    align-self: center;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 8px;
    margin: 8px;
    width: 125px;
    align-self: flex-start;
    border-radius: 12px;
}

.secondary {
    margin: 8px;
}

.infographics {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}

.info-header {
    align-self: center;
    padding: 8px;
}

.card-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 12px;
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 400px;
    width: 400px;
    
}

.img-container {
    height: 200px;
    width: 175px;
    overflow: hidden;
    border: 3px solid #3882F6;
    border-radius: 12px;
    display: flex;
    align-self: center;
}

.img-container img {
    width: 100%;
    object-fit: contain;
    align-self: center;
}

.empty-div {
    width: 250px;
}

#img-one {
    width: 200px;
    height: 400px;
    object-position: 25px center;
}

#img-two {
    height: 100%;
    object-position: center;    
}

#img-three {
    height: auto;
    max-width: 100%;
    object-position: center;
}

#img-four {
    max-height: 100%;
    object-position: 25px center;
}