.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

a {
    text-decoration: none;
}

.hero,
.header,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.footer {
    padding: 12px;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

a,
.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.info-text,
.quote {
    color: #1F2937;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: start;
}

.attribution {
    color: #1F2937;
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    text-align: end;
}

.info-text {
    font-size: 18px;
    align-self: center;
}

.quote-space {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-box {
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 16px;
}

.main {
    font-size: 48px;
    font-weight: 900;
}

.hero {
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

.hero .left {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.right {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.right img {
    height: 300px;
    width: auto;
    align-self: center;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 8px;
    margin: 8px;
    width: 125px;
    align-self: flex-start;
    border-radius: 8px;
}

.secondary {
    margin: 8px;
}

.infographics {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info-header {
    align-self: center;
    padding: 8px;
}

.card-stack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 48px;
    flex: 0 1 auto;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    justify-content: flex-start;
    text-align: center;
    height: 400px;
    width: 400px;
    gap: 8px;
    
}

.img-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border: 3px solid #3882F6;
    border-radius: 12px;
    display: flex;
    align-self: center;
}

.img-container img {
    width: 100%;
    object-fit: contain;
    align-self: center;
}

.empty-div {
    width: 250px;
    flex: 0 1 auto;
}

#img-one {
    width: 200px;
    height: 400px;
    object-position: center 65px;
}

#img-two {
    height: 100%;
    object-position: center;    
}

#img-three {
    height: 230px;
    width: 275px;
    object-position: -40px center;
}

#img-four {
    max-height: 100%;
    object-position: center;
}

.cta {
    display: flex;
    justify-content: center;
}

.cta-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: last baseline;
    background-color: #3882F6;
    padding: 24px 48px;
    margin: 48px;
    flex: 0 1 1000px;
}

.vstack {
    display: flex;
    flex-direction: column;
}

.cta-header {
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bolder;
    align-self: flex-start;
    margin-left: 8px;
}

.cta-button {
    border: 2px solid white;
}